uvicorn==0.17.6
fastapi==0.75.1
web3==5.28.0
0x_contract_wrappers==2.0.0
hdwallet==2.1.1
hexbytes~=0.2.2
starlette~=0.17.1
requests~=2.27.1
python-multipart~=0.0.5
pymongo==4.1.1
email-validator==1.2.1
eth-abi==2.1.1
eth-account==0.5.7
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
fastapi==0.75.1
fastapi-mail==1.0.9
mysqlclient==2.1.0
passlib==1.7.4
py==1.11.0
py-dotenv==0.1
pydantic==1.9.1
PyMySQL==1.0.2
pytest==7.1.2
python-dotenv==0.20.0
python-mail==1.0.2
SQLAlchemy==1.4.37
